<div #sidebar class="sidebar h-full fixed md:block hidden w-[70px] lg:w-[70px] xl:w-[280px] bg-[#17202a] transition pt-[10px] pl-[14px] ">
  <div class="relative mb-28">
    <div class="flex items-center mt-8">
      <img class="w-[50px] rounded-[50%] mr-4" src="../assets/investment.png" alt="Logo">
      <h1 class="text-2xl text-slate-50 font-medium hidden lg:block md:block opacity-0 logo-text"> Treasury Center </h1>
    </div>
    <div #sidebar_toggle class="sidebar-toggel-btn 
      w-7 h-7 text-center size-4 bg-white rounded-full leading-7 cursor-pointer hover:bg-black hover:text-white ">
      <fa-icon [icon]="angles_right" (mouseHover)="toggle_sidebar()"></fa-icon>
    </div>
  </div>
  <div class="sidebar-menu">
    <div class="top-menu mb-28">

      <a [routerLink]="['/Dashboard']" routerLinkActive="active-link" class="sidebar-link">
        <fa-icon [icon]="gauge"></fa-icon>
        <span> Dashboard </span>
      </a>
      <!-- <a  [routerLink]="['/Dashboard']" routerLinkActive="active-link" class="sidebar-link">
        <fa-icon [icon]="chart"></fa-icon>
        <span> Analysis </span>
      </a> -->
      <a  [routerLink]="['/Transaction-Entry']" routerLinkActive="active-link" class="sidebar-link">
        <fa-icon [icon]="dollar"></fa-icon>
        <span> Transaction </span>
      </a>
      <!-- <a  [routerLink]="['/Transaction-Entry']" routerLinkActive="active-link" class="sidebar-link">
        <fa-icon [icon]="bell"></fa-icon>
        <span> Notifications </span>
      </a> -->
      <a [routerLink]="['/Profile']" routerLinkActive="active-link"  class="sidebar-link">
        <fa-icon [icon]="profileIcon"></fa-icon>
        <span> Profile </span>
      </a>
      <!-- <a  [routerLink]="['/Profile']" routerLinkActive="active-link" class="sidebar-link">
        <fa-icon [icon]="wallet"></fa-icon>
        <span> Wallet </span>
      </a> -->

    </div>
    <div class="bottom-menu">
      <span  class="sidebar-link mt-6">
        <fa-icon [icon]="gear"></fa-icon>
        <span> Setting </span>
      </span>
      <span  class="sidebar-link" (click)="logOut()">
        <fa-icon [icon]="signOut"></fa-icon>
        <span> Logout </span>
      </span>
    </div>
  </div>
</div>